#home-root {
  -fx-background-image: url("/images/manor.png");
  -fx-background-size: cover;
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-color: transparent;
}

#home-root Rectangle {
  -fx-fill: rgba(0,0,0,0.32);
}

.label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-family: "Jersey 10";
}

.button {
    -fx-background-color: #313561;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.body {
    background-color: #171a3c;
}