.label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

.button {
    -fx-background-color: #313561;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.body {
    background-color: #171a3c;
}