/*@font-face {
    font-family: "Jersey 10";
    src: url("fonts/Jersey10-Regular.ttf");
}*/

#home-root {
  -fx-background-image: url("/images/manor.png");
  -fx-background-size: cover;
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-color: transparent;
}


.label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 40px;
    -fx-font-family: "Jersey 10";
}

.menu-button {
    -fx-background-color: #313561;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 40px;
    -fx-font-family: "Jersey 10";
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.menu-button:hover {
    -fx-background-color: rgba(37, 38, 76, 0.2);
}

.navigate-button {
    -fx-background-color: #0b398f;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 40px;
    -fx-font-family: "Jersey 10";
    -fx-padding: 8px 16px;
    -fx-border-radius: 5px;
    -fx-border-color: #002c77;
    -fx-background-radius: 5px;
}

.body {
    background-color: #171a3c;
}

.rectangle {
    -fx-fill: transparent;
    -fx-stroke: #FFFFFF;
    -fx-stroke-width: 0.5px;
}

.text-field, .password-field {
    -fx-font-size: 30px;
    -fx-font-family: "Jersey 10";
    -fx-background-color: #313561;
    -fx-stroke: #FFFFFF;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 1px;
}

.menu-btn {
    -fx-font-family: "Jersey 10";
    -fx-font-size: 32px;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#1e6bd8, #0f4fb2);
    -fx-background-radius: 4;
    -fx-border-color: rgba(255,255,255,0.2);
    -fx-border-width: 1;
    -fx-padding: 6 16 6 16;
    -fx-cursor: hand;
}

.menu-btn:hover {
    -fx-background-color: linear-gradient(#2b84f0, #1861c2);
}
